SECRET_KEY=e3bfdeb772dd100a06e44dec4301d516
DATABASE_URL=sqlite:///blog.db

# Google OAuth
GOOGLE_CLIENT_ID=ваш-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=ваш-client-secret

# GitHub OAuth
GITHUB_CLIENT_ID=ваш-github-client-id
GITHUB_CLIENT_SECRET=ваш-github-client-secret