{% extends "base.html" %}
{% block title %}О нас{% endblock %}
{% block content %}
    <h1>О ресторане TWO POLES</h1>
    <p>Мы — сеть уютных ресторанов в Краснодаре. Наша философия — уважение к традициям и любовь к гастрономическому искусству. У нас вы сможете насладиться непревзойдённой атмосферой, сочными блюдами от шеф-повара и живой музыкой каждый вечер.</p>
    <p>Приходите и скажите «да» искусству вкуса!</p>
    <h3>Контакты</h3>
    <p>Email: info@twopoles.ru</p>
    <p>Instagram: @twopoles</p>
{% endblock %}